@{
    ViewBag.Title = "Reset password confirmation";
}

<hgroup class="title">
    <h1>Potvrda reseta passworda</h1>
</hgroup>
<div>
    <p>
        Vaš password je resetovan. Please @Html.ActionLink("Login", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
